<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real And Fake Face Detection</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    
    <div class="container">
       
        <div id="box" class="box">
            <h1>Welcome To Face Forensics</h1>
            <form class='form-horizontal' action='/submit' method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class='label' for='pwd'>Upload Image: </label>
                    <div>
                        <input type="file" class="fileClass" placeholder="Hours Studied" name='my_image' id='pwd'>
                    </div>
                </div>
                <div class='form-group'>
                    <button type="submit" class="btn">Submit</button>
                
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>